class Config(object):
    DEBUG = False
    TESTING = False
    DATABASE_URI = 'sqlite:///lite.db'
    SECRET_KEY = 'this is very secret'
    OAUTH_CREDENTIALS = {
      'google': {
        'id': 'ID',
        'secret': 'SECRET'
      }
    }
    IMAP_CONFIG = {
      'imap_host': 'imap.gmail.com',
      'smtp_host': 'smtp.gmail.com',
      'username': 'USERNAME',
      'password': 'PASSWORD'
    }

class DevelopmentConfig(Config):
    DEBUG = True