{% extends "base.html" %}

{% block title %}Group detail: {{group.name}}{% endblock %}

{% from "bootstrap/utils.html" import form_button %}

{% block content %}
  <div class="container">
    <h1>{{group.name}}</h1>

    {% if current_user.is_in_group(group) %}
      You are a member of this group. LEAVE?
    {% else %}
      You not are a member of this group. JOIN?
    {% endif %}

    <p/><p/>

    {% if current_user.is_following_group(group) %}
      You are a subscriber of this group. {{form_button(url_for('group_unsubscribe', name=group.name),
          'Unsubscribe?')}}
    {% else %}
      You not are a subscriber of this group. {{form_button(url_for('group_subscribe', name=group.name),
          'Subscribe?')}}
    {% endif %}

    <h2>Members</h2>
     {% for member_link in group.members %}
        {% set member = member_link.user %}
        <li><a href="/users/{{ member.email }}">
          {{ member.email }}
        </a></li>
    {% endfor %}

    <h2>Subscribers</h2>
     {% for subscriber_link in group.subscribers %}
       {% set subscriber = subscriber_link.user %}
        <li><a href="/users/{{ subscriber.email }}">
          {{ subscriber.email }}
        </a></li>
    {% endfor %}
  </div>
{% endblock %}
