{% extends "base.html" %}

{% block title %}User detail: {{user.name}}{% endblock %}

{% from "bootstrap/utils.html" import form_button %}

<!DOCTYPE html>

{% block content %}
  <div class="container">
    <h1>{{user.name}}</h1>

    {% if current_user.is_following_user(user) %}
      You subscribed to this user, 
      {{form_button(url_for('user_unsubscribe', email=user.email),
                  'Unsubscribe?')}}
    {% elif current_user.id != user.id %}
      You not subscribed to this user, 
            {{form_button(url_for('user_subscribe', email=user.email),
                  'Subscribe?')}}
    {% endif %}

    <h2>Member of</h2>
     {% for group_membership in user.group_memberships %}
        {% set group = group_membership.group %}
        <li><a href="/groups/{{ group.id }}">
          {{ group.id }}
        </a></li>
      {% endfor %}

     <h2>Subscribed to</h2>
     {% for group_subscription in user.group_subscriptions %}
        {% set group = group_subscription.group %}
        <li><a href="/groups/{{ group.id }}">
          {{ group.id }}
        </a></li>
      {% endfor %}

    <h2>Following</h2>
      {% for user_following in user.users_following %}
        {% set user = user_following.to_user %}
        <li><a href="/users/{{ user.id }}">
          {{ user.id }}
        </a></li>
      {% endfor %}

    <h2>Followees / Followed By</h2>
      {% for user_followee in user.users_followees %}
        {% set user = user_followee.from_user %}
        <li><a href="/users/{{ user.id }}">
          {{ user.id }}
        </a></li>
      {% endfor %}

    <p/>
    <h1> Snippets </h1>
      {% for snippet in snippets %}
        {{ snippet.created_at }} - 
        {{ snippet.text }}
      {% endfor %}
  </div>
{% endblock %}
